<!DOCTYPE html>
<html lang="en-us">

  <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1.0, user-scalable=yes" />

  <title>
    
      TNCs and Congestion &middot; SFCTA Prospector
    
  </title>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/sfcta-logo-144.png">
  <link rel="shortcut icon" href="http://www.sfcta.org/sites/all/themes/sfcta/favicon.ico" type="image/vnd.microsoft.icon" />

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- LEAFLET -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>

  <!-- VUE -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <!-- MAPBOX GL -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />

  <!-- SEMANTIC UI -->
  <link rel="stylesheet" type="text/css" href="/assets/semantic/semantic.min.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="/assets/semantic/semantic.min.js"></script>

  <!-- MORRIS CHARTS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
  
  <!-- CHART.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.4.0/dist/chartjs-plugin-datalabels.min.js"></script>
  
  <!-- CHROMA -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.3.6/chroma.min.js"></script>
  
  <!-- D3 -->
  <!--script src="https://d3js.org/d3.v5.min.js"></script-->
  <script src="https://d3js.org/d3-array.v1.min.js"></script>
  <script src="https://d3js.org/d3-scale.v2.min.js"></script>
  
  
  <!-- IONICONS -->
  <link rel="stylesheet" href="/assets/ionicons/ionicons.min.css">
  <link rel="stylesheet" href="/assets/ionicons/leaflet.awesome-markers.css">
  <script src="/assets/ionicons/leaflet.awesome-markers.min.js"></script>

  <!-- Site CSS -->
  <link rel="stylesheet" href="/assets/css/poole.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">
  <link rel="stylesheet" href="/assets/css/sfcta.css">

  <!-- GOOGLE ANALYTICS -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-100715169-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-100715169-2');
  </script>

  <!-- Page CSS -->
  
    
      <link rel="stylesheet" href="/assets/css/main.css">
    
      <link rel="stylesheet" href="/assets/css/standalone.css">
    
      <link rel="stylesheet" href="/tnccong/main.css">
    
  

  <!-- Google fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans|PT+Sans:400,400italic,700">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+SC:900i|Merriweather|Oleo+Script+Swash+Caps:700" rel="stylesheet">

</head>


  <body>
    <div class="container">
      <div id="container">

  <div id="slide-panel" v-bind:class="{ shrunken: isPanelHidden}">
    <button class="ui tiny green icon button"
            v-on:click="clickedShowHide">
            <i class="angle double icon"
            v-bind:class="{ left: isPanelHidden, right: !isPanelHidden}"></i>
    </button>
  </div> 
  
  <div id="panel" v-bind:class="{ shrunken: isPanelHidden}">
      <div id="preheader">
        <hr/>
        <h3 class="apptitle" style="margin-top:5px">TNCs & CONGESTION</h3>
        <div id="helpbar">
            <button class="ui mini right labeled icon violet button"
                    v-on:click="clickToggleHelp">
                    <i class="help circle icon"></i>
                    What is this?
            </button>
            &nbsp;
            <button class="ui mini right labeled icon violet button"
                    v-on:click="this.window.open('http://www.sfcta.org/congestion','_blank')">
                    <i class="arrow right icon"></i>
                    Learn More
            </button>
            <hr style="margin-top:10px"/>
           </div>

          <div id="picker">
            <div id="vizbuttons" class="ui vertical buttons">
              <button v-for="item in vizlist"
                    v-on:click="clickViz(item)"
                    class="ui grey button"
                    v-bind:class="{ active: item==selected_metric, orange: item==selected_metric }">
                    ${vizinfo[item]['TXT']}
              </button>
            </div>
            
            <hr style="margin-top:15px"/>
            <h5 style="margin-top:10px">CHOOSE FACTORS AFFECTING CONGESTION:</h5>
            <div id="vizbuttons" class="ui vertical buttons">
              <button v-for="item in scnlist"
                    v-on:click="clickScn(item)"
                    class="ui grey button"
                    v-bind:class="{ active: checkedScnFlag[item], yellow: checkedScnFlag[item] }">
                    ${scninfo[item]}
              </button>
            </div>
            
            <h5 style="margin-top:20px">CHOOSE TIME PERIOD:</h5>
            <div id="vizbuttons" class="compact ui horizontal mini buttons">
              <button v-for="item in tplist"
                    v-on:click="clickTP(item)"
                    class="ui grey button"
                    v-bind:class="{ active: item==selected_timep, red: item==selected_timep }">
                    ${tpmap[item][0]}<br>${tpmap[item][1]}
              </button>
            </div>             
          </div>
          <hr style="margin-top:100px"/>
          <h5>FACTORS AFFECTING CHANGE IN CONGESTION</h5>
          <canvas id="facchart" style="height: 250px;width: 100%"></canvas>
      </div>
      <div id="header">
      </div>

      <div class="logo">
        <div class="pickers">
        </div>
            <hr/>
            <table id="table-logo"><tr>
              <td class="td-logo">
                <h4 class="agency"><b><a target="_blank" href="http://www.sfcta.org/congestion">SAN FRANCISCO COUNTY TRANSPORTATION AUTHORITY</a></b></h4>
              </td>
              <td class="td-logo">
                <a class="agency-link" target="_blank" href="http://www.sfcta.org/congestion">
                  <img class="img-logo" src="/assets/sfcta-logo-144.png" width="80">
                </a>
              </td>
            </tr></table>
      </div>
    </div>

  <div id="helpbox" v-if="showHelp" class="ui segment">
  <div v-cloak> <!-- hides everything until Vue finished loading -->
        <h2 style="margin-bottom:0px;">Congestion in San Francisco</h2>
        <hr style="margin-bottom:5px;margin-top:5px"/>
        Use this tool to explore performance metrics for both automobiles and buses on major San Francisco streets and highways.
        These are monitored every two years, in accordance with state law for San Francisco’s Congestion Management Program.

        <ul>
        <li><b>Auto Level-of-Service (LOS)</b> grades road segments by vehicle delay with "A" describing free flow,
        and "F" describing bumper-to-bumper conditions.</li>
        <li><b>Transit Speed</b> reflects the average speeds including both when the buses are in motion as well as waiting at stops.</li>
        <li><b>Transit Reliability</b> shows the variability in transit travel speeds. A lower percentage means transit speeds are more consistent.</li>
        <li><b>Auto-Transit Speed Ratio</b> compares auto speeds to  to transit speeds, with lower values indicating where transit is more competitive with auto.
        If the ratio is 1 then auto and transit travel times are equal.</li>
        </ul>

        <h2 style="margin-top:10px; margin-bottom:0px;">How to use this map</h2>
        <hr style="margin-bottom:5px;margin-top:5px"/>
        <ul>
        <li>Select a metric to display it on the map for all segments, for the latest year (2017).</li>
        <li>Move the year slider to map historic data.</li>
        <li>Choose time period to display metric for AM or PM peak.</li>
        <li>Click on a colored roadway segment on the map to see segment-specific trends.</li>
        </ul>

        <div style="margin-top:20px;">
          <button v-on:click="clickToggleHelp" class="small ui right floated violet button">
            &nbsp;OK&nbsp;
          </button>

          <button v-on:click="this.window.open('/assets/sfcta_cmp_data_2017.zip')"
                  class="small ui right labeled icon floated yellow button"
                  style="margin-right:5px">
                  <i class="icon download"></i>
                  Download data (.zip)
          </button>

          <button v-on:click="this.window.open('http://www.sfcta.org/congestion','_blank')"
                  class="small ui right floated basic violet button"
                  style="margin-right:5px">
                  Learn more&hellip;
          </button>

        </div>
  </div>
  </div>
  


  <div id="sfmap"></div>

</div>


<script type="application/javascript" src="/bundles/tnccong.js"></script>

    </div>
  </body>

</html>
